/target/
.classpath
.project
/.settings/
/.idea/
/_mac/
/inspection/
databseSettings.xml
debugger.xml
diff.xml
IntelliLang.xml
LM_Bressan_CoF.iml
mavenVersion.xml
ui.lnf.xml
web-browsers.xml
*.iml
colors.scheme.xml
.sonar_lock
/bin/
src/main/resources/Login.fxml
src/main/resources/loginImage.jpg
src/main/resources/Style.css
src/main/resources/audio/buttonPressed.mp3
