.loginPage{
	-fx-background-image:url("loginImage.jpg");
	-fx-background-size:140%;
}
.waitingRoomPage{
	-fx-background-image:url("waitingRoom.jpg");
	-fx-background-size:120%;
}
.audioButtonNotMute{
	-fx-graphic:url("notMute.png");
}
.audioButtonMute{
	-fx-graphic:url("mute.png");
}

.configurationMap{
	-fx-background-image:url("map.jpg");
	-fx-background-size:130%;
}